/* This is the CSS file for pr01 by Caio Albuquerque */

.myButton {
    width: 12.5em;
    font-size: 18.75rem;
  }
  
  form label {
    font-weight: bold;
  }
  
  .col-form-label {
    width: auto;
  }
  
  /* This is the CSS file for pr01 by Caio Albuquerque */
  
  